header.header(class=isSingerPage ? "header-singer" : "")
  .container
    //.row.align-items-center
    .inner-header
      //.col-12
      .head-left
        .box-move 
          <i class="fa-solid fa-arrow-left-long"></i>
          <i class="fa-solid fa-arrow-right-long"></i>
        .box-search
            form(action="/sreach/result" 
            method="GET")
              div(class="form-group d-flex mb-0 search")
                  <i class="fa-solid fa-magnifying-glass"></i>
                  input(
                      type="text"
                      placeholder="Nhập từ khóa..."
                      class="form-control"
                      name="keyword"
                      value=keyword
                  )
                  //button(type="submit" class="btn btn-primary") Tìm
            .inner-suggest
              .inner-list
                  //- a(href="/songs/detail/:slugSong" class="inner-item")
                  //-     .inner-image
                  //-         img(src="https://backend.daca.vn/assets/images/cat-doi-noi-sau.jpg")
                  //-     .inner-info
                  //-         .inner-title Cắt đôi nỗi sầu
                  //-         .inner-singer
                  //-             i(class="fa-solid fa-microphone-lines")
                  //-             | Tăng Duy Tân
                  //- a(href="/songs/detail/:slugSong" class="inner-item")
                  //-     .inner-image
                  //-         img(src="https://backend.daca.vn/assets/images/ngay-mai-nguoi-ta-lay-chong.jpg")
                  //-     .inner-info
                  //-         .inner-title Ngày Mai Người Ta Lấy Chồng
                  //-         .inner-singer
                  //-             i(class="fa-solid fa-microphone-lines")
                  //-             | Thành Đạt
    
      .box-login 
        a(href="/user/login" class="no-ajax") Đăng nhập
        a(href="/user/register" class="no-ajax") Đăng ký


